<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OctopusKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91B8880D1DE96A3300F6BCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B888161DE96A3300F6BCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B888811DE9788E00F6BCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
